{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<!-- Preloader --> 
    <div id="preloader">
      <div class="loader"></div>    
    </div><!--preloader end-->

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="m-nav">
         <a class="mobile-btn" href="#m-nav" title="Show navigation">Show navigation</a>
	     <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">{{__('Home')}}</a></li>
            <li><a class="smoothscroll" href="#about">{{__('About me')}}</a></li>
            <li><a class="smoothscroll" href="#portfolio">{{__('Portfolio')}}</a></li>
			<li><a class="smoothscroll" href="http://blog.rectius.com.br">{{__('Blog')}}</a></li>
			<li><a class="smoothscroll" href="http://blog.rectius.com.br">{{__('Blog')}}</a></li>
			<li><a href="/pt-br"><img class="flag" src="/images/br.svg" /></a></li>
			<li><a href="/en"><img class="flag" src="/images/us.svg" /></a></li>
         </ul> <!-- end #nav -->
      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            {{__('Greeting')}}
            <hr />
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="fa fa-angle-double-down"></i></a>
      </p>

      <div class="header-overlay"></div>

   <!-- Social Section
   ================================================== -->
      <div id="social">
        <div class="row social-container">
              <ul class="social">               
		  	     <li><a href="https://github.com/rectius"><i class="fa fa-github"></i></a></li>               
		  	     <li><a href="https://br.linkedin.com/in/pablosouzasantos"><i class="fa fa-linkedin"></i></a></li>               
		  	     <li><a href="http://blog.rectius.com.br"><i class="fa fa-wordpress"></i></a></li>			   
              </ul>
        </div>
      </div> <!-- Social End -->

   </header> <!-- Header End -->

   <!-- About Section
   ================================================== -->
   <section id="about">
      <div class="row bio-container">
        <div class="twelve columns bio-inner">
         <div class="six columns bio-left"> 
          <div class="pp-container">

            <img class="profile-pic wow zoomIn"  src="/images/profile.jpg" alt="" />
              <h2>Pablo Souza</h2>
              <h3>Software Engineer</h3>              
          </div>
         </div>
         <div class="six columns main-col wow fadeIn">
          <div class="arrow-left"></div>
			{{__('About me block')}}
          <div class="row">            
            <div class="six columns download">
                <p>
                  <a href="#contact" class="button"><i class="fa fa-paper-plane"></i>{{__('Hire me')}}</a>
                  <a href="{{path.resume}}" class="button" target="_blank"><i class="fa fa-download"></i>{{__('Download resume')}}</a>
                </p>
            </div> <!-- Download Buttons --> 
          </div>
         </div> <!-- end .main-col -->
        </div>
      </div>
   </section> <!-- About Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1 class="section-title wow fadeInDown">{{__('Recent works')}}</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf wow fadeIn">
            
              {% for item in projects %}

                 <div class="columns portfolio-item">
		      <div class="item-wrap">
                           <a href="#modal-{{ item.id }}" title="">
                              <img alt="" src="{{ item.thumb }}" />
                              <div class="overlay">
                                   <div class="portfolio-item-meta">
                                        <h5>{{ item.title.short }}</h5>
                                        <p>{{ item.description.short }}</p>
                                   </div>
                              </div>
                              <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                           </a>
                      </div>
                 </div>

                 <div id="modal-{{ item.id }}" class="popup-modal mfp-hide">
                      <div class="description-box">
                           <h4>{{ item.title.full }}</h4>
                           <p>{{ item.description.full }}</p>
                           <span class="categories"><i class="fa fa-tag"></i>{{ item.tags }}</span>
                      </div>
                      <div class="link-box"><a class="popup-modal-dismiss button btn-close">Close</a></div>
                 </div>

              {% endfor %}

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->

      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">
      <div class="row">
         <div class="two columns header-col">
            <h1 class="wow fadeInLeft">
              <span><i class="fa fa-paper-plane fa-5x pull-left fa-fw"></i></span>
            </h1>
         </div>
         <div class="seven columns">            
			{{__('Drop me a line')}}
         </div>
         <div class="three columns action wow fadeIn">
            <a href="mailto:pablodss@gmail.com" class="button">{{__('Contact me')}}</a>
         </div>
      </div>
   </section> <!-- Call-To-Action Section End-->
   
{% endblock %}   